consumes:
- application/json
definitions:
  Body:
    description: Body contains body of response
    properties:
      message:
        description: The validation message
        type: string
        x-go-name: Message
    required:
    - message
    type: object
    x-go-package: github.com/Sayitsocial/Sayitsocial_go/pkg/routes/authentication
host: sayitsocial.in
info:
  description: Documentation of SayItSocialAPI.
  title: SayItSocial.
  version: 1.0.0
paths:
  /api/create/org:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: This will show create a new volunteer.
      operationId: createOrganisation
      parameters:
      - description: Email of Organisation
        in: query
        name: email
        required: true
        type: string
        x-go-name: Email
      - description: Password of user
        in: query
        name: password
        required: true
        type: string
        x-go-name: Password
      - description: Name of Organisation
        in: query
        name: org_name
        required: true
        type: string
        x-go-name: OrgName
      - description: Type of Organisation
        format: int64
        in: query
        name: org_type
        required: true
        type: integer
        x-go-name: TypeOfOrg
      - description: Locality of Organisation
        in: query
        name: locality
        required: true
        type: string
        x-go-name: Locality
      - description: Owner of Organisation
        in: query
        name: owner
        required: true
        type: string
        x-go-name: Owner
      - description: Registration Number of organisation according to ngodarpan if applicable
        in: query
        name: reg_no
        type: string
        x-go-name: RegistrationNo
      produces:
      - application/json
      responses:
        "200":
          $ref: '#/responses/successResponse'
      schemes:
      - http
      summary: Create a new organisation
      tags:
      - user_creation
  /api/create/vol:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: This will show create a new volunteer.
      operationId: createVolunteer
      parameters:
      - description: First name of user
        in: query
        name: first_name
        required: true
        type: string
        x-go-name: FirstName
      - description: Last name of user
        in: query
        name: last_name
        required: true
        type: string
        x-go-name: LastName
      - description: Email of user
        in: query
        name: email
        required: true
        type: string
        x-go-name: Email
      - description: Password of user
        in: query
        name: password
        required: true
        type: string
        x-go-name: Password
      produces:
      - application/json
      responses:
        "200":
          $ref: '#/responses/successResponse'
      schemes:
      - http
      summary: Create a new volunteer
      tags:
      - user_creation
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login to existing account
      operationId: login
      parameters:
      - description: Username of user
        in: query
        name: username
        required: true
        type: string
        x-go-name: Username
      - description: Password of user
        in: query
        name: password
        required: true
        type: string
        x-go-name: Password
      responses:
        "200":
          $ref: '#/responses/successResponse'
      schemes:
      - http
      tags:
      - auth
  /auth/logout:
    post:
      consumes:
      - application/json
      description: Logout from existing account
      operationId: logout
      responses:
        "200":
          $ref: '#/responses/successResponse'
      schemes:
      - http
      tags:
      - auth
produces:
- application/json
responses:
  successResponse:
    description: Success
    schema:
      $ref: '#/definitions/Body'
schemes:
- http
securityDefinitions:
  cookieAuth:
    description: Doesnt work from swagger, head over to /login
    in: cookie
    name: SESSIONID
    type: apiKey
swagger: "2.0"
